<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Knowledge_Base/index_assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Knowledge_Base/index_assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'Knowledge_Base/index_assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'Knowledge_Base/index_assets/vendor/custombox/dist/custombox.min.css' %}">
    <link rel="stylesheet" href="{% static 'Knowledge_Base/index_assets/vendor/animate.css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'Knowledge_Base/index_assets/css/theme.css' %}">
    <title>footer</title>
</head>
<body>
<footer class="bg-dark">
  <div class="container space-2">
    <div class="row justify-content-md-between">
      <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">About R</h3>
        <div class="list-group list-group-flush list-group-transparent">
          <a class="list-group-item list-group-item-action" href="https://www.r-project.org/">R</a>
          <a class="list-group-item list-group-item-action" href="https://www.rstudio.com/">RStudio</a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">Package URL</h3>
        <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="http://dplyr.tidyverse.org">dplyr - org</a>
            <a class="list-group-item list-group-item-action" href="https://github.com/tidyverse/dplyr">
              dplyr - GitHub
            </a>
            <a class="list-group-item list-group-item-action" href="https://github.com/tidyverse/dplyr/issues">
                dplyr - BugReports
            </a>
            <a class="list-group-item list-group-item-action" href="http://tidyr.tidyverse.org">tidyr - org</a>
            <a class="list-group-item list-group-item-action" href="https://github.com/tidyverse/tidyr">
                tidyr - GitHub
            </a>
            <a class="list-group-item list-group-item-action" href="https://github.com/tidyverse/tidyr/issues">
                tidyr - BugReports
            </a>
            <a class="list-group-item list-group-item-action" href="http://ggvis.rstudio.com/">ggvis - org</a>
            <a class="list-group-item list-group-item-action" href="https://github.com/rstudio/ggvis">ggvis - GitHub</a>
            <a class="list-group-item list-group-item-action" href="http://github.com/rstudio/ggvis/issues">
                ggvis - BugReports
            </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">Package Document</h3>
        <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action"
               href="https://cran.r-project.org/web/packages/dplyr/index.html">
                dplyr - online
            </a>
            <a class="list-group-item list-group-item-action"
               href="https://cran.r-project.org/web/packages/dplyr/dplyr.pdf">
                dplyr - offline
            </a>
            <a class="list-group-item list-group-item-action"
               href="https://cran.r-project.org/web/packages/tidyr/index.html">
              tidyr - online
            </a>
            <a class="list-group-item list-group-item-action"
               href="https://cran.r-project.org/web/packages/tidyr/tidyr.pdf">
              tidyr - offline
            </a>
            <a class="list-group-item list-group-item-action"
               href="https://cran.r-project.org/web/packages/ggvis/index.html">
              ggvis - online
            </a>
            <a class="list-group-item list-group-item-action"
               href="https://cran.r-project.org/web/packages/ggvis/ggvis.pdf">
              ggvis - offline
            </a>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
        <h3 class="h6 text-white mb-3">Social</h3>
        <div class="list-group list-group-flush list-group-transparent">
          <a class="list-group-item list-group-item-action" href="https://www.facebook.com/">
            <span class="fab fa-facebook-f min-width-3 text-center mr-2"></span>
            Facebook
          </a>
          <a class="list-group-item list-group-item-action" href="https://twitter.com/">
            <span class="fab fa-twitter min-width-3 text-center mr-2"></span>
            Twitter
          </a>
          <a class="list-group-item list-group-item-action" href="https://www.instagram.com/">
            <span class="fab fa-instagram min-width-3 text-center mr-2"></span>
            Instagram
          </a>
          <a class="list-group-item list-group-item-action" href="https://github.com/">
            <span class="fab fa-github min-width-3 text-center mr-2"></span>
            GitHub
          </a>
        </div>
      </div>
        <p class="small text-muted">All rights reserved. ©2018</p>
      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<script src="{% static 'Knowledge_Base/index_assets/vendor/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'Knowledge_Base/index_assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>

<script src="{% static 'Knowledge_Base/index_assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/vendor/custombox/dist/custombox.min.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/vendor/custombox/dist/custombox.legacy.min.js' %}"></script>

<script src="{% static 'Knowledge_Base/index_assets/js/hs.core.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.header.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.unfold.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.validation.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.malihu-scrollbar.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.modal-window.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.show-animation.js' %}"></script>
<script src="{% static 'Knowledge_Base/index_assets/js/components/hs.go-to.js' %}"></script>

<script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991,
        hideTimeOut: 0
      });
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#password'
          }
        }
      });

      // initialization of forms
      $.HSCore.helpers.HSFocusState.init();

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of autonomous popups
      $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-account', {
        autonomous: true
      });

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
</script>
</body>
</html>